<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjejyi-IlsGtpBQCXt6ycljm1BR50K0fY</string>
	<key>GCM_SENDER_ID</key>
	<string>2511511933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.stockmanagement</string>
	<key>PROJECT_ID</key>
	<string>stock-management-ticf8y</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-management-ticf8y.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2511511933:ios:1aaa43bf17c480bc3eec14</string>
</dict>
</plist>